{%extends "base_personal.html" %}
{%block conteudo %}

 Welcome to IEEE VCIP 2015

The IEEE International Conference on Visual Communications and Image Processing (VCIP), sponsored by the IEEE Circuits and Systems Society and supported by the School of Electrical and Electronic Engineering, Nanyang Technological University (NTU), will be held in Singapore during 13 - 16 December 2015.

VCIP has served as a premier forum in SPIE and IEEE for the exchange of fundamental research results and technological advances in the field of visual communications and image processing since 1986. It provides a venue for leading engineers and scientists from around the world to advance the research frontiers in various areas of interest to VCIP.

{%endblock %}